<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.springboot.DAO.BoardDAO">
  	
  	<select id="getList" resultType="com.springboot.DTO.BoardDTO">
  	<!-- CDATA는 문자데이터를 나타내며 특수문자를 포함할 수 있는 텍스트를 XML 문자 엔터티를 사용하여 
  	이스케이프하지 않고 포함하는 방법  bno > 0때문에 XML의 문자에는 "<", ">", "&", "'" 및 """"가 예약어 포함되서 CDATA로 덮어준것-->
  		    <![CDATA[
  		    select * from tb1_board where bno > 0;
  		    ]]>
  	</select>
  	
  </mapper>